$def with (room)

<h1> $room.name </h1>

<pre>
$room.description
</pre>

$if room.count:
    $if room.count == 10:
        <pre>
        You have $room.count tries left. 
        </pre>
    $if room.count < 10 and room.count > 1:
        <pre>
        BZZZZEDDD! You have $room.count tries left.
        </pre>
    $if room.count == 1:
        <pre>
        BZZZZEDDD! You have $room.count try left.
        </pre>

$if room.show_help:
    <pre>
    $room.help
    </pre>

$if room.show_try_again:
    <pre>
    $room.try_again
    </pre>

$if room.end:
    <p><a href="/">Play Again?</a></p>
$else:
    <p>
    <form action="/game" method="POST">
        <input type="text" name="action"> <input type="SUBMIT" value="Enter">
    </form>
    </p>
